.rectangle1 {
    width: 1920px;
    height: 1114px;
    /* background-image: url(/Rectangle.png); */
    left: 0px;
    top: 0px; 
    background-color: #043E51;
    position: fixed; 
    align-items: center;   
}
.header {
    background-color: aqua;
}

.nav {
    display: flex;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    /* margin-left: 400px; */
    margin-left: 374px;
}

li {
    padding-left: 2rem;

}
.button1 {
    margin-left: 800px; 
    margin-right: 374px;
    background-color: blue;
    width: 140px;
    height: 58px;
    border-radius: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center; 
}